<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Parkour Deutschland, DPV, Inititative Parkour Deutschland, German Parkour Association">
  <meta name="robots" content="index, follow">
  <meta name="description" content="The homepage of the german parkour association">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- if page.form == true -%}
  <link rel="stylesheet" href="{{ "/api-client/form.css" | relative_url }}">
  {%- endif -%}
  {%- feed_meta -%}
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <!--Inter font is lizenced by https://raw.githubusercontent.com/rsms/inter/v4.0/LICENSE.txt-->
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.jpg">
</head>
