<div class="avatar">
    <div class ="member">
        <div class="square"><a href="https://www.fussgaenger.org/" target="_blank"><img src="{{ '/assets/members/fußgänger.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Berlin</p>
        <p>Fußgänger e.V.</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://www.parkourberlin.de/" target="_blank"><img src="{{ '/assets/members/berlin.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Berlin</p>
        <p>Parkour Berlin e.V.</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://berlin.parkourone.com/" target="_blank"><img src="{{ '/assets/members/pkone.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Berlin</p>
        <p>ParkourONE</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://sportverein-eschbach.de/abteilungen/parkour/" target="_blank"><img src="{{ '/assets/members/eschbach.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Eschbach</p>
        <p>SV Eschbach 1967 e.V.<br>Abteilung Parkour</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://www.parkour-erfurt.de/" target="_blank"><img src="{{ '/assets/members/erfurt.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Erfurt</p>
        <p>Parkour Erfurt e.V.</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://wiesenjam.wordpress.com/" target="_blank"><img src="{{ '/assets/members/erlangen.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Erlangen</p>
        <p>Parkour Erlangen</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://www.parkour-eppingen.de/" target="_blank"><img src="{{ '/assets/members/eppingen.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Eppingen</p>
        <p>Parkour Eppingen e.V.</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://parkour-guetersloh.de" target="_blank"><img src="{{ '/assets/members/gütersloh.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Gütersloh</p>
        <p>Parkour Gütersloh</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://www.twio-x.de/" target="_blank"><img src="{{ '/assets/members/leipzig.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Leipzig</p>
        <p>Twio X e.V.</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://www.parkour-nuernberg.de/" target="_blank"><img src="{{ '/assets/members/parkour-org.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Nürnberg</p>
        <p>Parkour.org Nürnberg e.V.</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://www.parkour-vogtland.de/" target="_blank"><img src="{{ '/assets/members/plauen.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Plauen</p>
        <p>Erster Parkourverein Vogtland e.V.</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://www.parkour-regensburg.de/" target="_blank"><img src="{{ '/assets/members/regensburg.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Regensburg</p>
        <p>Parkour Regensburg e.V.</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://parkour-stuttgart.de/" target="_blank"><img src="{{ '/assets/members/stuttgart.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Stuttgart</p>
        <p>Parkour Stuttgart e.V.</p>
    </div>
    <div class ="member">
        <div class="square"><a href="https://www.parkour.org/" target="_blank"><img src="{{ '/assets/members/parkour-org.jpg' | relative_url }}" alt="Avatar" /></a></div>
        <p>Wedel</p>
        <p>Parkour.org</p>
    </div>
</div>
