
<style>
.center{
    text-align: center;
    font-weight: 600;
}
</style>

<h2 class="center"> Unterzeichnende </h2>

<div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div>
        <h3 class="center">Vereine</h3>
        <ul>
            <li>Erster Parkourverein Vogtland e.V.</li>
            <li>Fußgänger e.V.</li>
            <li>Parkour Berlin e.V.</li>
            <li>Parkour Eppingen e.V.</li>
            <li>Parkour Erfurt e.V.</li>
            <li>Parkour Leipzig - Twio X e.V.</li>
            <li>Parkour Nürnberg e.V.</li>
            <li>Parkour Regensburg e.V.</li>
            <li>Parkour Stuttgart e.V.</li>
        </ul>
    </div>

    <div>
        <h3 class="center">Unternehmen</h3>
        <ul>
            <li>ParkourONE</li>
            <li>Parkour.org</li>
        </ul>
    </div>

    <div>
        <h3 class="center">Privatpersonen</h3>
        <ul>
            <li>Lukas Schulte-Tickmann (Gütersloh)</li>
            <li>Max Heckl (Erlangen)</li>
        </ul>
    </div>
</div>