
<div class="avatar">
    <div class ="member">
        <div class="square"><a href="#" title="Ben Scheffler"><img src="{{ '/assets/team/ben.jpg' | relative_url }}" alt="Ein Foto von Ben Scheffler" /></a></div>
        <p>Ben</p>
        <p>Berlin</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Björn Eberhardt"><img src="{{ '/assets/team/bjoern.jpeg' | relative_url }}" alt="Ein Foto von Björn Eberhardt" /></a></div>
        <p>Björn</p>
        <p>Hamburg</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Chris Konushevci"><img src="{{ '/assets/members/blank.jpg' | relative_url }}" alt="Ein Foto von Chris Konushevci" /></a></div>
        <p>Chris</p>
        <p>Erfurt</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Dirk Hüfler">
            <img src="{{ '/assets/members/blank.jpg' | relative_url }}" alt="Ein Foto von Dirk Hüfler" /></a></div>
        <p>Dirk</p>
        <p>Hamburg</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Dominik Schmoll">
            <img src="{{ '/assets/team/domi.jpg' | relative_url }}" alt="Ein Foto von Dominik Schmoll" /></a></div>
        <p>Dominik</p>
        <p>Nürnberg</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Eike Plenter">
            <img src="{{ '/assets/members/blank.jpg' | relative_url }}" alt="Ein Foto von Eike Plenter" /></a></div>
        <p>Eike</p>
        <p>Hamburg</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Jewgeni Eisenberg">
            <img src="{{ '/assets/team/jewgeni.jpg' | relative_url }}" alt="Ein Foto von Jewgeni Eisenberg" /></a></div>
        <p>Jewgeni</p>
        <p>Leipzig</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Lukas Schulte-Tickmann">
            <img src="{{ '/assets/members/blank.jpg' | relative_url }}" alt="Ein Foto von Lukas Schulte-Tickmann" /></a></div>
        <p>Lukas</p>
        <p>Berlin</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Maren Baufeld">
            <img src="{{ '/assets/members/blank.jpg' | relative_url }}" alt="Ein Foto von Maren Baufeld" /></a></div>
        <p>Maren</p>
        <p>Stuttgart</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Martin Wille">
            <img src="{{ '/assets/members/blank.jpg' | relative_url }}" alt="Ein Foto von Martin Wille" /></a></div>
        <p>Martin</p>
        <p>Berlin</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Max Heckl">
            <img src="{{ '/assets/team/max.jpg' | relative_url }}" alt="Ein Foto von Max Heckl" /></a></div>
        <p>Max</p>
        <p>Erlangen</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Merlin Szymanski">
            <img src="{{ '/assets/team/merlin.jpg' | relative_url }}" alt="Ein Foto von Merlin Szymanski" /></a></div>
        <p>Merlin</p>
        <p>Leipzig</p>
    </div>
    <div class ="member">
        <div class="square"><a href="#" title="Sabine Haider">
            <img src="{{ '/assets/team/sabine.jpg' | relative_url }}" alt="Ein Foto von Sabine Haider" /></a></div>
        <p>Sabine</p>
        <p>Eppingen</p>
    </div>
</div>
